{% extends 'app_layout.html' %}
{% load static %}
{% block content %}
<style>
    .login{
        width: 500px;
        margin: 0 auto;
        margin-top: 100px;
        margin-bottom: 500px;
        padding: 20px ;
        padding-bottom: 50px;
    }
    .btnSubmit{
        float: right;
    }
    .textLogin{
        width: 300;
        margin: 0 auto;
    }
</style>
<div class="login-page">
    <div class="form">
      
      <form class="login box" method="POST">
        <h3>Reset Password</h3>
        {% csrf_token %} 
            {{form}}
            <br>
            <button class="btnSubmit button icon fa-lock" type="submit">Reset Password</button>
      </form>
    </div>
  </div>
  {% endblock %}